Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PureIO==0.2.3
cycler==0.10.0
future==0.17.1
iso8601==0.1.12
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.22.0
pandas==0.24.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
scipy==1.2.1
serial==0.0.97
six==1.12.0
